@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<style>
    .cardComp {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        border-radius: 10px;
        filter: drop-shadow(0 5px 10px 0 #ffffff);
        width: 1135px;
        height: 300px;
        background-color: #ffffff;
        padding: 20px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: 0.6s ease-in;
        margin-top: 50px;
        margin-bottom: 50px;
    }

        .cardComp::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -15px;
            right: -15px;
            background: #D4BE74;
            height: 320px;
            width: 25px;
            border-radius: 32px;
            transform: scale(1);
            transform-origin: 50% 50%;
            transition: transform 0.25s ease-out;
        }

        .cardComp:hover::before {
            transition-delay: 0.2s;
            transform: scale(100);
        }

        .cardComp:hover {
            color: #ffffff;
        }

        .cardComp p {
            padding: 10px 0;
            font-size: 20px;
        }

    .button-50 {
        appearance: button;
        background-color: #000;
        background-image: none;
        border: 1px solid #000;
        border-radius: 4px;
        box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 10px 0;
        overflow: visible;
        padding: 12px 40px;
        text-align: center;
        text-transform: none;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }

        .button-50:focus {
            text-decoration: none;
        }

        .button-50:hover {
            text-decoration: none;
        }

        .button-50:active {
            box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
            outline: 0;
        }

        .button-50:not([disabled]):active {
            box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
            transform: translate(2px, 2px);
        }





    .navbar {
        width: 100%;
        margin: auto;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        /*background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 22%, rgba(0,0,0,0.9248074229691877) 44%, rgba(27,27,27,0.9668242296918768) 89%, rgba(22,22,22,0.7903536414565826) 100%);*/
    }

        .navbar img {
            width: 65%;
            height: 100%;
        }

        .navbar ul li {
            list-style: none;
            display: inline-block;
            margin: 0 25px;
            position: relative;
        }

            .navbar ul li a {
                text-decoration: none;
                color: #FFF;
                text-transform: uppercase;
                font-family: Inter;
                font-style: normal;
                font-size: 24px
            }

            .navbar ul li::after {
                content: '';
                height: 3px;
                width: 0;
                background: #FFF;
                position: absolute;
                left: 0;
                bottom: -10px;
                transition: 0.5s;
            }

            .navbar ul li:hover:after {
                width: 100%;
            }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SkyVoteTime.Server</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Identity/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
              integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"
              asp-fallback-href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/Identity/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div style="background-image: url('../../Assets/back.png'); class="tudo">
        <div style="background-image: url('../../../Assets/back.png'); class=" quaseTudo">

    <header class="navbar">
        <a href="/"><img src="../../../Assets/SkyVoteTimeLogo.png" class="px-5 mx-5"></a>
        <ul class="px-5 mx-5">
            <li><a href="/">Home</a> </li>
            <li><a href="/competitions">Competitions</a> </li>
            <li><a href="/AboutUs">About</a> </li>
        </ul>
    </header>

    <script>
                private bool collapseNavMenu = true;

                private string ? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

                private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    </script>


    <!-- 
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="~/">SkyVoteTime.Server</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    @{
        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
    }
    @if (result.Success)
    {
        await Html.RenderPartialAsync("_LoginPartial");
    }
    else
    {
        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
    }
                </div>
            </div>
        </nav>
    </header>
    -->
    

    <div class="container">
        <partial name="_CookieConsentPartial" optional />
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    </div>
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: rgba(0,0,0,0.7); margin-top: 114px;">
            <!-- Grid container -->
            <div class="container">
                <!-- Section: Links -->
                <section class="mt-5">
                    <!-- Grid row-->
                    <div class="row text-center d-flex justify-content-center pt-4">
                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">About us</a>
                            </h6>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">Awards</a>
                            </h6>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">Help</a>
                            </h6>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="#!" class="text-white">Contact</a>
                            </h6>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2">
                            <LoginDisplay />
                        </div>
                        <!-- Grid column -->
                    </div>

                    <!-- Grid row-->
                </section>
                <!-- Section: Links -->

                <hr class="my-3" />



                <!-- Section: Social -->
                <section class="text-center mb-3">
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </section>
                <!-- Section: Social -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
                <a class="text-white" href="https://github.com/diogoreisrodrigues/SkyVoteTime"> SkyVoteTime </a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- <footer class="footer border-top pl-3 text-muted">
            <div class="container">
            &copy; 2023 - SkyVoteTime.Server
        @{
            var foundPrivacy = Url.Page("/Privacy", new { area = "" });
        }
        @if (foundPrivacy != null)
        {
                        <a asp-area="" asp-page="/Privacy">Privacy</a>
        }
            </div>
        </footer> -->
    

    <environment include="Development">
        <script src="~/Identity/lib/jquery/dist/jquery.js"></script>
        <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                asp-fallback-src="~/Identity/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj">
        </script>
        <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)

    <div/>
    </div>
</body>
</html>


