@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="margem" style="margin-top: 50px;padding: 50px;background: rgba(0,0,0,0.6);">
<h1 style="text-align: center; color:white">@ViewData["Title"]</h1>
<div style="text-align: -webkit-center;">
    <div class="col-md-4" style="text-align:left; color:white">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label text-black">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label text-black">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg text-light" style="background: #D4BE74">Log in</button>
                </div>
                <div >
                    <br />
                    <p>
                            <a asp-page="./ForgotPassword" id="forgot-password" class="text-light">Forgot your password?</a>
                    </p>
                    <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-light">Register as a new user</a>
                    </p>
                    <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-light">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
<div/>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
