@page "/AboutUs"

<div class="container" style= "color: #fff">
	<h1 style="font-size: 65px; margin-top: 78px;">About Us</h1>
	<br/>
	<p style="font-size: 25px">Welcome to our website, the ultimate destination for movie lovers and competition enthusiasts! Our platform is designed to bring together fans from all over the world who share a passion for movies and actors, and who are ready to put their knowledge to the test in exciting and engaging competitions.</p>
	<p style="font-size: 25px">But we're not just about competitions. Our website is also a hub for movie news, reviews, and discussions, where you can stay up-to-date on the latest happenings in the world of cinema, share your opinions and insights, and connect with fellow movie lovers from all over the globe.</p>
	<p style="font-size: 25px">At the heart of our website is our commitment to fostering a vibrant and welcoming community of movie fans, where everyone is welcome to participate, learn, and have fun. So whether you're here to test your movie knowledge, share your favorite films, or simply connect with like-minded individuals, we invite you to join us and be a part of our community today.</p>
</div>



@code {

}
