@page "/competitions"

<h1 class="titleCompetitions">Competitions</h1>



<div class="container" style="background: rgba(0,0,0,0.7); margin-top:6%; border-radius: 20px;">
    <div class="row">
        <div class="col-md-4 offset-md-4  amarelo">
            <div class="nomTitle">
                Movie of the Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 amarelo">
            <div class="texto">
                The Movie of the Year is a unique award that is given to the best movie for the given year, elected by the whole cinema world.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-1 categorias">
            any
        </div>
        <div class="col-8">
        </div>
        <div class="col-1 botao">
            select
        </div>
        <div class="col-1">
        </div>
    </div>
</div> 


<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
        <hr class="linha">
    </div>
    <div class="col-1">
    </div>
</div>

<div class="container" style="background: rgba(0,0,0,0.7); margin-top:6%; border-radius: 20px;">
    <div class="row">
        <div class="col-md-4 offset-md-4  amarelo">
            <div class="nomTitle">
                Movie of the Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 amarelo">
            <div class="texto">
                The Movie of the Year is a unique award that is given to the best movie for the given year, elected by the whole cinema world.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-1 categorias">
            any
        </div>
        <div class="col-8">
        </div>
        <div class="col-1 botao">
            select
        </div>
        <div class="col-1">
        </div>
    </div>
</div> 




<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
        <hr class="linha">
    </div>
    <div class="col-1">
    </div>
</div>

<div class="container" style="background: rgba(0,0,0,0.7); margin-top:6%; border-radius: 20px;">
    <div class="row">
        <div class="col-md-4 offset-md-4  amarelo">
            <div class="nomTitle">
                Movie of the Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 amarelo">
            <div class="texto">
                The Movie of the Year is a unique award that is given to the best movie for the given year, elected by the whole cinema world.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-1 categorias">
            any
        </div>
        <div class="col-8">
        </div>
        <div class="col-1 botao">
            select
        </div>
        <div class="col-1">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
        <hr class="linha">
    </div>
    <div class="col-1">
    </div>
</div>

<div class="container" style="background: rgba(0,0,0,0.7); margin-top:6%; border-radius: 20px;">
    <div class="row">
        <div class="col-md-4 offset-md-4  amarelo">
            <div class="nomTitle">
                Movie of the Year
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 offset-md-1 amarelo">
            <div class="texto">
                The Movie of the Year is a unique award that is given to the best movie for the given year, elected by the whole cinema world.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-1 categorias">
            any
        </div>
        <div class="col-8">
        </div>
        <div class="col-1 botao">
            select
        </div>
        <div class="col-1">
        </div>
    </div>
</div>







