@page "/competitions"
@using SkyVoteTime.Shared
@using System.Text.Json;
@inject HttpClient _httpClient

<h1 class="titleCompetitions">Competitions</h1>


@if (competitionList != null)
{
    @foreach (Competition competition in competitionList)
    {

        List<String> categories = JsonSerializer.Deserialize<List<String>>(competition.CategoriesJson);

        <div class="container" style="background: rgba(0,0,0,0.7); margin-top:6%; border-radius: 20px;">
            <div class="row">
                <div class="col-md-4 offset-md-4  amarelo">
                    <div class="nomTitle">
                        @competition.Name
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-md-1 amarelo">
                    <div class="texto">
                        @competition.Description
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                </div>

                @foreach (var category in categories)
                {

                    <div class="col-1 categorias">
                        @category
                    </div>

                }

                <div class="col-8">
                </div>
                <div class="col-1 botao">
                    <a href="/nom/@competition.Id"> Vote here! </a>
                </div>
            </div>
        </div>
    }

}

 <div class="row">
        <div class="card">
            <h4>What is a Frontend Develoment?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam porro similique aliquid debitis ipsam soluta dolorum ipsa! Voluptate, suscipit iure.</p>
        </div>
 </div>


@code {
    List<Competition> competitionList = new List<Competition>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/competition");
        response.EnsureSuccessStatusCode();
        competitionList = await response.Content.ReadFromJsonAsync<List<Competition>>();
    }
}






