@page "/competitions"
@using SkyVoteTime.Shared
@using System.Text.Json;
@inject HttpClient _httpClient


<h1 class="titleCompetitions">Competitions</h1>

<div class="container">

     @if (competitionList != null)
    {
        @foreach (Competition competition in competitionList)
        {

        List<String> categories = JsonSerializer.Deserialize<List<String>>(competition.CategoriesJson);

        <div>
            <div class="cardComp">
              <div style="height: 189px">
                <h1>@competition.Name</h1>
                <p>@competition.Description</p>
              </div>
             
                <div class="row">
                       <div class="col-9" style="display: flex; align-items: center;">
                            @foreach (var category in categories)
                            {
                                                <span class="badge badge-pill badge-dark" style="margin-right: 15px; font-size: 20px; background-color: #000; padding: 10px;">@category</span>
                            }
                       </div>
                               <div class="col-3" style="    text-align: right;">
                           <button class="button-50" role="button">
                                    <a href="/nom/@competition.Id" style="color: #fff"> View Nominees! </a>
                           </button>
                       </div>
               

                </div>
            </div>
        </div>
        }

     }

</div>



@code {
    List<Competition> competitionList = new List<Competition>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/competition");
        response.EnsureSuccessStatusCode();
        competitionList = await response.Content.ReadFromJsonAsync<List<Competition>>();
    }
}






