@page "/"

<PageTitle>Index</PageTitle>


<div class="px-5 mx-5 my-5" >
	<h1 class="title">And the Award goes to...</h1>

</div>

<div class="buddy">

      <div class="slider">
        <div class="slide_track">

          <div class="slide">
            <img src="Assets/apharan.jpg" alt="" />
          </div>

          <div class="slide">
            <img src="Assets/bat.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/breaking.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/criminal.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/got.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/infinity.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/kota.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/mirzapur.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/sacred.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/scam.jpg" alt="" />
          </div>


          <div class="slide">
            <img src="Assets/apharan.jpg" alt="" />
          </div>

          <div class="slide">
            <img src="Assets/bat.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/breaking.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/criminal.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/got.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/infinity.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/kota.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/mirzapur.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/sacred.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/scam.jpg" alt="" />
          </div>

        </div>

      </div>


    </div>
 

