@page "/"
@using SkyVoteTime.Client.API;


@inject TheMovieDBApi movieApi


<PageTitle>SkyVoteTime</PageTitle>


<div class="px-5 mx-5 my-5" >
	<h1 class="title">And the Award goes to...</h1>

</div>

<div class="buddy">

      <div class="slider">
        <div class="slide_track">

            @foreach(var movie in movieList.results)
            {
                <div class="slide">
                    <img src="https://image.tmdb.org/t/p/w342/@movie.poster_path" alt="" />
                </div>
            }
            

        </div>

      </div>


</div>
 
<div class="" style="text-align: center; background-color: #FFF">
    <div>
        <h1 class="title px-5" style="color: #000; margin-top: 250px;">2022 Winners</h1>
    </div>
    <div class="container" style="">
        <div>
        <p style="/* Best movies */

width: 189px;
height: 60px;

font-family: 'Amiri';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 60px */

color: #000;
margin-top: 50px; margin-bottom: 0px;
"> Best Movie </p>
        </div>
        <div style="display: flex;">

            <hr>
            @for(var i = 0; i < 4; i++)
            {
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                          <img src="https://image.tmdb.org/t/p/w342/@movieList.results[i].poster_path" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                        <div class="flim" style="padding: 10px;">
                      <b>@movieList.results[i].title</b><br>
                </div>
              </div>
            </div>
            }

            
        </div>

        <div>
        <p style="/* Best movies */

width: 189px;
height: 60px;

font-family: 'Amiri';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 60px */

color: #000;
margin-top: 50px; margin-bottom: 0px;
"> Best Actors </p>
        </div>
        <div style="display: flex;">

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/bradpitt.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Brad Pitt</b><br>Age - 59
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/emmastone.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Emma Stone</b><br>Age - 34
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/BrendanFraser.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Brendan Fraser</b><br>Age - 54
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/depp.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Jhonny Depp</b><br>Age - 52
                </div>
              </div>
            </div>


            
        </div>
    </div>
    <br />
    <br />
</div>



@code{
    private MovieList movieList;
    

    protected override async Task OnInitializedAsync()
    {
        movieList = await movieApi.UpcomingMovieDetails();
        
    }

}
