@page "/"

<PageTitle>SkyVoteTime</PageTitle>


<div class="px-5 mx-5 my-5" >
	<h1 class="title">And the Award goes to...</h1>

</div>

<div class="buddy">

      <div class="slider">
        <div class="slide_track">

          <div class="slide">
            <img src="Assets/alien.jpg" alt="" />
          </div>

          <div class="slide">
            <img src="Assets/batman.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/breaking.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/interstellar.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/got.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/infinity.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/jaws.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/onepiece.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/pulpfiction.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/jujutsu.jpg" alt="" />
          </div>


          <div class="slide">
            <img src="Assets/alien.jpg" alt="" />
          </div>

          <div class="slide">
            <img src="Assets/batman.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/breaking.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/interstellar.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/got.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/infinity.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/jaws.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/onepiece.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/pulpfiction.jpg" alt="" />
          </div>
          <div class="slide">
            <img src="Assets/jujutsu.jpg" alt="" />
          </div>




        </div>

      </div>


</div>
 
<div class="container" style="text-align: center; ">
    <div>
        <h1 class="title" style="color: #000; margin-top: 250px;">2022 Winners</h1>
    </div>
    <div class="container" style="">
        <div>
        <p style="/* Best movies */

width: 189px;
height: 60px;

font-family: 'Amiri';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 60px */

color: #000000;
margin-top: 50px; margin-bottom: 0px;
"> Best Movie </p>
        </div>
        <div style="display: flex;">

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/Everything.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>EveryThing Everywere all at once</b><br>IMDb - 8.8
                </div>
              </div>
            </div>
        

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/banshees.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Banshees of Inisheer</b><br>IMDb - 8.8
                </div>
              </div>
            </div>
        

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/cocaine_bear.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Cocaine Bear</b><br>IMDb - 8.8
                </div>
              </div>
            </div>
            

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/batman.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Batman</b><br>IMDb - 8.8
                </div>
              </div>
            </div>
        

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/topgun.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>
              
                </div>
                <div class="flim">
                  <b>Top Gun Maverick</b><br>IMDb - 8.8
                </div>
              </div>
        </div>
        </div>

        <div>
        <p style="/* Best movies */

width: 189px;
height: 60px;

font-family: 'Amiri';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 150%;
/* identical to box height, or 60px */

color: #000000;
margin-top: 50px; margin-bottom: 0px;
"> Best Actors </p>
        </div>
        <div style="display: flex;">

            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/bradpitt.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Brad Pitt</b><br>Age - 59
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/emmastone.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Emma Stone</b><br>Age - 34
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/BrendanFraser.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Brendan Fraser</b><br>Age - 54
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/depp.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Jhonny Depp</b><br>Age - xx
                </div>
              </div>
            </div>


            <hr>
             <div class="poster">
              <div class="flip-card_i">
                <div class="flip-card-inner_i">
                  <div class="flip-card-front_i">
                      <img src="Assets/michelleyeoh.jpg" alt="Avatar" style="width:250px;height:360px;">
                  </div>

                </div>
                <div class="flim">
                  <b>Michelle Yeoh</b><br>Age - xx
                </div>
              </div>
        </div>
        </div>
    </div>
</div>



