@page "/nom"

<PageTitle>Nominees</PageTitle>

<div class="Nominees">
    <div class="px-5 mx-5 my-5">
        <h1 class="TitleNominees">Nominees for Movie of the Year</h1>
    </div>

    <br />

    <div class="container" style="background: rgba(0,0,0,0.7); border-radius: 20px;">
        <div class="row">
            <div class="col-sm-3">
                <img style="display: flex; align-items: center; padding: 15px; perspective: 100px;" src="Assets/EverythingEverywhereAllAtOne.jpg" alt="" />
            </div>
            <div class="col-sm-9" style="color:white">
                <div>
                    <div class="nomTitle">Everything Everywhere All at Once</div>
                    <div style="font-size: 135%">
                        <b>Directors:</b> Daniel KwanDaniel and Daniel Scheinert
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Actors:</b> Michelle Yeoh, Stephanie Hsu and Jamie Lee Curtis
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Synopsis:</b> A middle-aged Chinese immigrant is swept up into an insane adventure in which she alone can save existence by exploring other universes and connecting with the lives she could have led.
                    </div>
                    <br />
                    <br />
                    <span class="badge">Action</span>
                    <span class="badge">Adventure</span>
                    <span class="badge">Comedy</span>

                    <div class="col-md-12 text-right">
                        <a type="button" class="btn btn-warning customButton"style="color:black; font-weight:bold" data-toggle="modal" data-target="#form">Vote here!</a>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="container" style="background: rgba(0,0,0,0.7); border-radius: 20px;">
        <div class="row">
            <div class="col-sm-3">
                <img style="display: flex; align-items: center; padding: 15px; perspective: 100px;" src="Assets/Avatar.jpg" alt="" />
            </div>
            <div class="col-sm-9" style="color:white">
                <div>
                    <div class="nomTitle">Avatar: The Way of Water</div>
                    <div style="font-size: 135%">
                        <b>Director:</b> James Cameron
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Actors:</b> Sam Worthington, Zoe Saldana and Sigourney Weaver
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Synopsis:</b> Jake Sully lives with his newfound family formed on the extrasolar moon Pandora. Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their home.
                    </div>
                    <br />
                    <br />
                    <span class="badge">Action</span>
                    <span class="badge">Adventure</span>
                    <span class="badge">Fantasy</span>

                    <div class="col-md-12 text-right">
                        <a type="button" class="btn btn-warning customButton" style="color:black; font-weight:bold">Vote here!</a>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="container" style="background: rgba(0,0,0,0.7); border-radius: 20px;">
        <div class="row">
            <div class="col-sm-3">
                <img style="display: flex; align-items: center; padding: 15px; perspective: 100px;" src="Assets/TickTickBoom.jpg" alt="" />
            </div>
            <div class="col-sm-9" style="color:white">
                <div>
                    <div class="nomTitle">tick, tick... BOOM!</div>
                    <div style="font-size: 135%">
                        <b>Director:</b> Lin-Manuel Miranda
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Actors:</b> Andrew Garfield, Alexandra Shipp and Robin de Jesus
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Synopsis:</b> On the cusp of his 30th birthday, a promising young theater composer navigates love, friendship and the pressures of life as an artist in New York City.
                    </div>
                    <br />
                    <br />
                    <span class="badge">Biography</span>
                    <span class="badge">Comedy</span>
                    <span class="badge">Drama</span>

                    <div class="col-md-12 text-right">
                        <a type="button" class="btn btn-warning customButton" style="color:black; font-weight:bold">Vote here!</a>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="container" style="background: rgba(0,0,0,0.7); border-radius: 20px;">
        <div class="row">
            <div class="col-sm-3">
                <img style="display: flex; align-items: center; padding: 15px; perspective: 100px;" src="Assets/Babylon.jpg" alt="" />
            </div>
            <div class="col-sm-9" style="color:white">
                <div>
                    <div class="nomTitle">Babylon</div>
                    <div style="font-size: 135%">
                        <b>Director:</b> Damien Chazelle
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Actors:</b> Brad Pitt, Margot Robbie and Jean Smart
                    </div>
                    <br />
                    <div style="font-size: 135%">
                        <b>Synopsis:</b> A tale of outsized ambition and outrageous excess, it traces the rise and fall of multiple characters during an era of unbridled decadence and depravity in early Hollywood.
                    </div>
                    <br />
                    <br />
                    <span class="badge">Comedy</span>
                    <span class="badge">Drama</span>
                    <span class="badge">History</span>

                    <div class="col-md-12 text-right">
                        <a type="button" class="btn btn-warning customButton" style="color:black; font-weight:bold">Vote here!</a>
                    </div>

                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">GIVE US YOUR INFO</h5>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send vote</button>
                </div>
            </div>
        </div>
    </div>


</div>