@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

@using System.Security.Claims

<br>
<div class="margem" style="margin-top: 50px; padding: 50px; background: rgba(0,0,0,0.6); width: 800px; margin-left: 50px; backdrop-filter: blur(2px)">
    <div style="display:flex">
        <img src="~/Assets/profilePic.png" style="width:14vh" />
        <div>
            <h2 style="color: white; padding-top: 2vh">@Context.User.Identity.Name</h2>
            <p style="color:lightgray; padding-bottom: 2vh">Professional Voter</p>
        </div>
    </div>
    
    <div>
        <hr />
        

        
            
            
            <div class="">
                <partial name="_ManageNav" />
            </div>
            <div class="tab-content mt-4">
                @RenderBody()
            </div>
        
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)

    
}

            