body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    width: 100%;
    margin: auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-size: cover;
}

    .navbar img {
        width: 65%;
        height: 100%;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 25px;
        position: relative;
    }

        .navbar ul li a {
            text-decoration: none;
            color: #FFF;
            text-transform: uppercase;
        }

        .navbar ul li::after {
            content: '';
            height: 3px;
            width: 0;
            background: #FFF;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }

        .navbar ul li:hover:after {
            width: 100%;
        }


.page {
    background-image: url("../Assets/background.png");
    overflow: hidden;
}

.title {
    font-size: 50px;
    color: #FFF;
    /* And the Award goes to.. */

    width: 667px;
    height: 31.13px;
    font-family: 'Gentium Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 24px;
    /* or 38% */
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 180px;
}

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.buddy {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.slide_track {
    display: flex;
    width: calc(250px * 20);
    animation: scroll 15s linear infinite;
}

    .slide_track:hover {
        animation-play-state: paused;
    }

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 10));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%;
    transition: transform 1s;
}

    img:hover {
        transform: translateZ(14px);
    }

/* Gradient shadows*/

.slider::before,
.slider::after {
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    /* transform: rotateZ(180deg); */
}

/********************** ARTUR **********************/

.TitleNominees {
    font-size: 50px;
    /* Nominees for Movie of the Year */
    text-align: center;
    font-family: 'Gentium Basic';
    font-style: normal;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.nomTitle {
    height: 71px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    display: flex;
}

.Nominees {
    background-repeat: no-repeat;
    background-attachment: fixed;
}
