@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
        
            <a class="dropdown-toggle mx-5 text-light" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="/Assets/Profile4.png" width="40" height="40" style="width:11vh; height:11vh" class="rounded-circle">
            </a>
        <div class="dropdown-menu" style="
    right: 100vh;
    left: 160vh;
    top: 90%;
    font-size:16px
" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="backoffice">Backoffice</a>
            <a class="dropdown-item" href="saveForLate">Saved for Later <i class="fas fa-user-clock"></i></a>
            <a class="dropdown-item" href="authentication/profile">Edit Profile <i class="fa-solid fa-user mx-1"></i></a>
            <a class="dropdown-item" href="" @onclick="BeginLogOut">Log Out <i class="fa-solid fa-right-from-bracket mx-1"></i></a>
            </div>
        
        
        
    </Authorized>
    <NotAuthorized>

        <a href="authentication/login"> <button type="button" class="botao text-light ml-4" style="width:120px;padding: 5px;background: rgba(212, 190, 116, 0.7)">Login</button></a>
            
    </NotAuthorized>
</AuthorizeView>



@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
