@inherits LayoutComponentBase



<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        
        <article class="content" style="min-height: 68vh;">
            @Body
        </article>
    </main>

    <div>
        <Footer />
    </div>
</div>

