


<header class="navbar">
  <a href="/index"><img src="Assets/SkyVoteTimeLogo.png" class="px-5 mx-5"></a>
  <ul class="px-5 mx-5">
    <li><a href="/FAQ">Home</a> </li>
    <li><a href="/Atendimento">Competitions</a> </li>
    <li><a href="/AboutUs">About</a> </li>
  </ul>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
