


<header class="navbar">
  <a href="/"><img src="Assets/SkyVoteTimeLogo.png" class="px-5 mx-5"></a>
  <ul class="px-5 mx-5">
            <li><a href="/">Home</a> </li>
            <li><a href="/competitions">Competitions</a> </li>
            <LoginDisplay></LoginDisplay>
         
  </ul>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
